<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RutaLog" value="E:\Ejecutables\LogEjecutables\MDM_ProcesosBatch\" />
    <add key="RutaArchivosExtractores" value="E:\Ejecutables\LogEjecutables\MDM_ProcesosBatch\" />
    <add key="BaseDatosMongo" value="MDM" />
 </appSettings>
  <connectionStrings>
    <add name="ConexionMongo" connectionString="mongodb://127.0.0.1:27017/MDM" />
    <!--<add name="ConexionMongo" connectionString="mongodb://usermdm:3tbdata$@10.10.0.5:27019/MDM" />-->
  </connectionStrings>
  
</configuration>